# Ignore mypy cache
.mypy_cache/

# Ignore py venv
venv/

# Ignore __pycache__
__pycache__/

# Ignore py venv
bin/
include/
lib/
pyvenv.cfg

.env
google_key.json

# ignore .DS_Store
.DS_Store

#  ignore venvs
peeps_algo_venv/
preprocess_venv/