face_recognition
scikit-learn
opencv-python-headless
# deepface
google-cloud-storage
google-cloud-aiplatform
numpy
google-auth
python-dotenv
# psutil
# facenet_pytorch
# hdbscan
# umap-learn
charset-normalizer
MarkupSafe
pillow